a:link, a:visited {
      color: black;
      text-decoration: none;
      background-color: fuchsia;
      border-style: solid;
      border-radius: 5px;
       }  
a:active{
      color: silver;
      text-decoration: none;
      background-color: black;
      border-style: dashed;
      border-radius: 5px;
      }

a:hover{
      color: yellow;
      text-decoration: none;
      background-color: green;
      border-style: dotted;
      border-radius: 5px;
      }